//  DANDO Custom Foundation
//  -----------------------------
//
//  Table of Contents:
//
//   1. Colour Scheme
//   2. Layout Sizes
//	 3. type
//   4. Foundation overrides


// ---------
// 1. Colour Scheme
// ---------

// OVERRIDE DEFAULT COLOURS
$foundation-palette: (
	primary: #aacbeb,
	secondary: #f8df30,
	tertiary: #8b8b8b,
	success: #2ECC40,
	warning: #FF851B,
	alert: #FF4136,
	link:#EDA65B,

);

$white:#fff;
$black:#333333;
$dark-grey:#3B3E3E;


$primary-color: map-get($foundation-palette, primary);
$secondary-color: map-get($foundation-palette, secondary) !global;
$tertiary-color: map-get($foundation-palette, tertiary) !global;
$link-color: map-get($foundation-palette, link) !global;

$primary-color-set: (
	regular: $primary-color,
	light: lighten( $primary-color, 25% ),
	dark: darken( $primary-color, 10% ),
	text: $black,
	border: $white,
);

$secondary-color-set: (
	regular: $secondary-color,
	light: lighten( $secondary-color, 10% ),
	dark: darken( $secondary-color, 10% ),
);

$tertiary-color-set: (
	regular: $tertiary-color,
	light: lighten( $tertiary-color, 10% ),
	dark: darken( $tertiary-color, 10% ),
);

// New colour variable
$primary-color-regular: map-get($primary-color-set, regular);
$primary-color-light: map-get($primary-color-set, light);
$primary-color-dark: map-get($primary-color-set, dark);
$primary-color-text: map-get($primary-color-set, text);
$primary-color-border: map-get($primary-color-set, border);

// ---------
// 2. Layout Sizes
// ---------

$header-height: 45px;
$content-max-width: 900px;
$global-width:80rem;

/// Defatul bottom margin of modules
/// @type List
$panel-margin: 0; // rem-calc(20 10);

/// Extra bottom/top margin for modules
/// @type Number
$extra-margin: rem-calc(15);

/// Hero header sizes
$hero-height: 70vh;
$hero-height-medium: 50vh;
$hero-height-small: 100vh;

$module-max-height: rem-calc(800) !default;

/// Default bottom border color of the post
/// @type Color
$post-item-border-bottom-color: $light-gray !default;

/// Default bottom border width of the post
/// @type Number
$post-item-border-bottom-width: rem-calc(1) !default;




// ---------
// 3. Type
// ---------

$body-font-color: $black;




// ---------
// 4. Foundation overrides
// ---------


$outer-space: $primary-color;

$anchor-color: $primary-color-regular;
$anchor-color-hover: $primary-color-light;

$accordion-item-color: $primary-color;
$accordionmenu-arrow-color: $primary-color;

$badge-background: $primary-color;
$badge-color: $white;
$badge-color-alt: $black;
$badge-palette: $foundation-palette;

$breadcrumbs-item-color: $primary-color;
$breadcrumbs-item-color-current: $black;
$breadcrumbs-item-color-disabled: $medium-gray;

$button-background: $primary-color-regular;
$button-background-hover: $primary-color-light;
$button-color: $white;
$button-color-alt: $black;
$button-palette: $foundation-palette;

$drilldown-arrow-color: $primary-color;

$dropdownmenu-arrow-color: $anchor-color;

$label-background: $primary-color;

$pagination-item-background-hover: $light-gray;
$pagination-item-background-current: $primary-color;
$pagination-item-color-current: $white;
$pagination-item-color-disabled: $medium-gray;

$progress-background: $medium-gray;
$progress-meter-background: $primary-color;

$slider-handle-background: $primary-color;
$slider-background: $light-gray;
$slider-fill-background: $medium-gray;

$switch-background: $medium-gray;
$switch-background-active: $primary-color;

$tab-background: $white;
$tab-color: $primary-color;
$tab-background-active: $light-gray;
$tab-active-color: $primary-color;
$tab-item-background-hover: $white;
$tab-content-background: $white;
$tab-content-border: $light-gray;
$tab-content-color: $body-font-color;

$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

$titlebar-background: $outer-space;
$titlebar-color: $white;
$titlebar-icon-color: $white;
$titlebar-icon-color-hover: $medium-gray;
