/* WP Backend CSS change*/

/* ACF General */
.acf-field.hide-label > .acf-label {
	margin: 0;
}
.acf-field.hide-label > .acf-label label {
	display: none;
}
.seamless .acf-field.hide-label > .acf-input {
	padding-left: 0 !important;
	width: 100% !important;
}

/* ACF New Field Types */
.acf-field.acf-field-section-styles .acf-section-styles-box-model {
	margin-right: 10px;
	flex: 1;
}