/* WP Login CSS changes*/

body.login {
	background: #333;
}

.login form {
	margin: 0;
	padding: 2em;
}

#login h1:after {
	display: block;
	color: #fff;
	content: 'LOGIN';
	line-height: 0.5em;
	font-size: 3em;
}

.interim-login #login {
	padding: 0;
	margin: 20px auto 20px;
}

#login h1 a,
/*#login p#nav,*/
#login p#backtoblog {
	display: none;
}

#login p#nav {
	text-align: center;
}