/*
 * CUSTOM Page Hero Header
 */

.page-header {

	height: $hero-height;
	height: calc(#{$hero-height} - #{$header-height});
	max-height: $module-max-height;

	margin: 0 auto;
	position: relative;
	text-align: left;
	z-index: 0;

	// Hero headings
		.hero-content {

			// background-color: none;
			max-width: $global-width;
			margin: 0 auto;
			padding: rem-calc(0 15);
			position: relative;
			width: 100%;
			z-index: 3;

			// for absolute
			left: 0; right: 0;

			.heading {
				font-size: rem-calc(52);
				margin-bottom: 0;

				// + .subheading { margin-top: rem-calc(15); }
				+ .links { margin-top: rem-calc(30); }
				+ .video-popup { margin-top: rem-calc(30); }
			}

			.subheading {
				margin-bottom: 0;
				+ .description { margin-top: rem-calc(15); }
				+ .links { margin-top: rem-calc(30); }
				+ .video-popup { margin-top: rem-calc(15); }
			}

			.description {
				margin-bottom: 0;
				+ .links { margin-top: rem-calc(15); }
				+ .video-popup { margin-top: rem-calc(30); }
			}

			.links {
				margin-bottom: 0;

				.link {
					display: inline;
					margin: rem-calc(0 5);
				}
			}

			.video-popup {
				display: inline-block;
				color: $white;
			}

			&.has-img {
				// color: $white;
			}

			&.has-video {
				color: $white;
			}

			@include vertical-center;
		}

	// Hero image & video
		.hero-media {
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;

			@include bg-cover;
		}

	// Additional border below
		.hero-border {
			background-color: $white;
			bottom: rem-calc(30);
			clear: both;
			display: block;
			height: rem-calc(30);
			position: relative;

			// border-image-source: url(border.svg);

			@include clearfix;
		}

	// Hero contact details
		.hero-details {
			max-width: $global-width;
			margin: 0 auto;
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
		}

	// Header overlay & colour settings
		.hero-overlay {
			background-color: rgba($black, .1);
			position: absolute;
			top: 0; right: 0; bottom: 0; left: 0;
			z-index: 2;
		}

		&[data-overlay="default"] {
			.hero-overlay { background-color: rgba($black, .3); }
		}
		&[data-overlay="light"] {
			.hero-overlay { background-color: rgba($white, .3); }
			.hero-content { color: $black; }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */		}
			[data-overlay-type="radial"] {
				background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(255,255,255,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6ffffff', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */		}
		}
		&[data-overlay="medium"] {
			.hero-overlay { background-color: rgba($black, .6); }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
			[data-overlay-type="radial"] {
				background: -moz-linear-gradient(left, rgba(140,140,140,0.65) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(140,140,140,0.65) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a68c8c8c', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
			}
		}
		&[data-overlay="dark"] {
			.hero-overlay { background-color: rgba($black, .8); }
			.hero-content { color: $white; }

			[data-overlay-type="vertical"] {
				background: -moz-linear-gradient(top, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(top, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=0 ); /* IE6-9 */
			}
			[data-overlay-type="horizontal"] {
				background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 */
			}
			[data-overlay-type="radial"] {
				background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.5) 100%); /* FF3.6-15 */
				background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* Chrome10-25,Safari5.1-6 */
				background: radial-gradient(ellipse at center, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#80000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}
		}

	@include breakpoint(small only){
		height: $hero-height-small;
		height: calc(#{$hero-height-small} - #{$header-height});
		max-height: $module-max-height;
	}

	@include breakpoint(medium only){
		height: $hero-height-medium;
		height: calc(#{$hero-height-medium} - #{$header-height});
		max-height: $module-max-height;
	}

}

#video-popup-modal {

	// Hero video popup

	display: none;
	opacity: 0;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	text-align: center;

	.iframe {
		display: block;
		margin: 10% auto;
		max-width: 900px;
		position: absolute;
		top: 0; right: 0; bottom: 0; left: 0;
	}

	.close-button {
		right: 2rem;
		top: 3.5rem;
	}

	.is-reveal-open & {
		display: block;
		opacity: 1;
	}
}
