.page-header.image {

	// Header Image

	.hero-content.has-img {
		background-color: transparentize(darken($white, 10%), .15);
		float: right;
		left: inherit;
		padding: 5rem 7rem;
		width: 60% !important;

		h1 {
			font-size: rem-calc(62);
			max-width: 70%;
			text-transform: none;
		}

		p {
			font-size: rem-calc(24);
			font-weight: 500;
		}
	}

	.bgimg {
		display: block;
		height: 100%;
		width: 100%;
		@include bg-cover;
	}

}
