
	.page-header.slider {

		height: 65vh;
		position: relative;


		// Header Slider (from post type)

		[aria-label="Hero Slider"],
		.hero-carousel,
		.owl-stage-outer,
		.owl-stage {
			height: 100%;
			display: block;
			margin: 0;
			overflow: hidden;
		}

		.owl-item {
			display: block;
			float: left;
			height: 100%;
			.slide-counter{
				z-index: 	4;
				display: table;
				position: 	absolute;
				right: 	6rem;
				top: 0;
				height: 100%;
			    color: $black;
				font-size: 1.7rem;
			    font-weight: 	bold;
			    text-transform: uppercase;
			    font-family: 'Poppins', sans-serif;
			    line-height: 1;
			    .valign{
			    	display: table-cell;
			    	vertical-align: 	middle;
			    	.counter-current{
						padding: 1.8rem 0 1.8rem 3rem;
						border-bottom:4px solid $black;
						font-weight: 	bold;
					}
					.counter-total{
						padding: 1.8rem 0 1.8rem 3rem;
						font-weight: 	bold;
					}
				}
			}
			.slide {
				background-color: $black;
				display: block;
				height: 100%;
				position: relative;

				&.overlay {
					position: relative;

					&:after {
						content:"";
						position: absolute;
						top: 0; right: 0; bottom: 0; left: 0;
						background: rgba(55,55,53,0.5);
						background: -moz-linear-gradient(top, rgba(55,55,53,0.5) 0%, rgba(0,162,191,0.5) 100%);
						background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(55,55,53,0.5)), color-stop(100%, rgba(0,162,191,0.5)));
						background: -webkit-linear-gradient(top, rgba(55,55,53,0.5) 0%, rgba(0,162,191,0.5) 100%);
						background: -o-linear-gradient(top, rgba(55,55,53,0.5) 0%, rgba(0,162,191,0.5) 100%);
						background: -ms-linear-gradient(top, rgba(55,55,53,0.5) 0%, rgba(0,162,191,0.5) 100%);
						background: linear-gradient(to bottom, rgba(55,55,53,0.5) 0%, rgba(0,162,191,0.5) 100%);
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373735', endColorstr='#00a2bf', GradientType=0 );
					}

					.bgimg { opacity: 0.7; }
				}

				img {
					display: none;
				}

				.bgimg {
					position: absolute;
					top: 0; right: 0; bottom: 0; left: 0;
					@include bg-cover;
				}

				.caption {
					display: table;
					height: 100%;
					margin: 0 auto;

					position: relative;
					width: 100%;
					z-index: 3;

					&.left .content {
						float: left;
						width: 70%;

					}

					&.right .content {
						float: right;
						width: 70%;
					}

					&.center .content {
						float: none;
						margin: 0 auto;
						max-width: 80rem;
						width: 85%;
					}

					.valign {
						display: table-cell;
						vertical-align: middle;
					}

					.content {
						position: relative;

						.inner-content {
							padding: 3.5rem 7rem;
							max-width: 	950px;
						}


						h2 { font-size: rem-calc(62);text-transform: none; }
						p {
							font-size: rem-calc(24);
							font-weight: 500;
						}

						&.center {
							text-align: center;
						}

						&.add-bg {
							background-color: transparentize(darken($white, 10%), .15);
							.inner-content { }
						}

						&.white {
							h2, p { color: $white; }
						}
					}
				}

				@include bg-cover;


			}
		}

		.owl-dots {
			display: block;
			position: absolute;
			bottom: 30px; left: 0; right: 0;
			text-align: center;
			width: 100%;
			display: none;

			.owl-dot {
				background-color: transparentize($white, .4);
				border-radius: 50%;
				display: inline-block;
				height: 12px;
				margin: 0.5rem;
				width: 12px;

				&.active { background-color: $primary-color; }
				&:hover { background-color: $white; }
			}


		}


		.owl-nav {

			display: none;

			.owl-prev,
			.owl-next {
				/*border: 2px solid $white;*/
				cursor: pointer;
				display: table;
				height: 50px;
				margin-top: -25px;
				position: absolute;
				top: 50%;
				text-align: center;
				z-index: 4;

				i {
					color: $white;
					display: table-cell;
					font-size: 1rem;
					vertical-align: middle;
					width: 50px;
				}

				&:hover {
					background-color: $primary-color;
					border-color: $primary-color;
				}


			}

			.owl-prev { border-left: none; left: 0; }
			.owl-next { border-right: none; right: 0; }
		}
	}
