/*
 * CUSTOM Global styles & Foundation overrides
 */
  
// Typography
p:empty { margin-bottom: 0; }
.entry-content, .panel-content {
	p:last-of-type {
		margin-bottom: 0;
	}
}

// Global Container
section.container {

	@include breakpoint(small) {
		.main-content, .post-item {
			padding: rem-calc(10);
		}
	}

	@include breakpoint(medium) {
		.main-content, .post-item {
			padding: rem-calc(15);
		}
	}
}

// List overrides
.blocklist, .inlinelist {
	list-style: none;
	margin-left: 0;
}
.blocklist > li { display: block; }
.inlinelist > li { display: inline; }

// Default ACF maps
.acf-map {
	background-color: $light-gray;
	border: $light-gray solid 1px;
	height: 400px;
	margin: 0;
	width: 100%;
}

/*Simple bar overrides*/
.simplebar-track.vertical .simplebar-scrollbar:before,.simplebar-track .simplebar-scrollbar.visible:before{
	opacity: 1!important;
	&:hover{
    	cursor:pointer;
    }
}
.simplebar-scrollbar{
	
    width: 15px!important;
	&:hover{
    	cursor:pointer;
    }

}
.simplebar-track.vertical:after{
	content: "";
	display: block;
	height: 100%;
	background: $dark-grey!important;
    width: 3px!important;
    border-radius: 10px!important;
    margin-left:5px;

}
.simplebar-content{
	padding-right: 20px!important;
}
.simplebar-track.vertical{
	width: 16px!important;
	
}