#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	

	background-color: 	$primary-color;
	&:after{
		content:"";
		display:block;
		width: 100%;
		background:url(../images/abstract.jpg);
		background-size: cover;
		height: 20px;
	}
	#footer {
		@include grid-row();
		padding: rem-calc(30) 0 rem-calc(20);

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		&:empty {
			display: none;
			padding: 0;
		}

		.widget {
			display: flex;
			justify-content: center;
 			align-items: center;

 			&.gform_widget{
 				display: block;
 				h6{
 					font-size: 	1.4rem;
 				}
 				.gform_wrapper form{
 					text-align: left;
					max-width: 100%;
					margin: 0 auto;
					position: relative;
					input{
				    	padding: .5rem;
    					font-size: .8rem;
    					margin-bottom: 0;
				    }
					
 				}
 				.gfield_label{
 					display: none;
 				}
 				.gform_footer{
 					position: absolute;
				    top: 2px;
				    padding: 0;
				    margin: 0;
				    right: 2px;
				    
				    input[type="submit"]{
				    	    font-size: 1.8rem;
						    padding: .1rem .5rem .3rem;
							border: 0!important;
							border-left: 2px solid $dark-grey!important;
						    line-height: .8;
						    height: 30px!important;
				    }
 				}
 			}
 			.custom-html-widget{
 				width: 100%;
 				font-size: .8rem;
 				img{
 					margin-bottom: 	5px;
 				}
 				table thead, table tbody, table tfoot{
 					background: transparent;
 				}
 				table{
 					margin-bottom: 	0;
 				}
 				td{
 					font-size: .6rem;
    				padding: 0 0.3rem;

 				}
 			}
 			.gform_wrapper form .gform_body,.gform_wrapper form .gform_footer{
 				padding-top: 0;
 			}
		}

		&[data-count="1"] .widget {
			width: 100% !important;
		}

		&[data-count="2"] .widget {
			@include grid-column(6);
		}

		&[data-count="3"] .widget {
			@include grid-column(4);
		}

		&[data-count="4"] .widget {
			@include grid-column(3);
			padding: 0 4rem !important;
			position: relative;

			&:after{
				content:"";
				border-right:1px solid $black;
				height: 	90px;
				position: absolute;	
				right: 	0;
				top: 	0;
				
			}
			&:first-child{
				padding-left:0!important;
			}
			&:last-child{
				padding-right:0!important;
				&:after{
					display:none;
				}
			}
		}

		@include breakpoint(small only){
			.widget { width: 100% !important; }
		}

		@include breakpoint(medium only){
			.widget { width: 50% !important; }
		}
	}

	.copyright {
		text-align: center;
		padding: rem-calc(10) 0;
		display: none;
	}
}
