.site-header {
	
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	&:before{
		content:"";
		display:block;
		width: 100%;
		background:url(../images/abstract.jpg);
		background-size: cover;
		height: 50px;
	}
	.title-bar {}

	.top-bar {
		@include grid-row();
	}
}
