// Navigation breakpoints
.desktop-menu, .top-bar-logo {
	@include show-for(medium);
}

#mobile-menu, .title-bar {
	@include hide-for(medium);
}

.top-bar, .top-bar ul {
	background: transparent;
}

// Mobile menu
.off-canvas {
	> ul.menu {
		height: 100vh;
		padding: 1rem;

		a {
			color: $white;
			font-weight: 600;
			font-size: rem-calc(18);
			opacity: .75;
		}

		.is-accordion-submenu-parent > a::after {
			display: block;
			width: 0;
			height: 0;
			border: inset 6px;
			content: '';
			border-bottom-width: 0;
			border-top-style: solid;
			border-color: $white transparent transparent;
			position: absolute;
			top: 50%;
			margin-top: -3px;
			right: 1rem;
		}
	}

	.menu .active > a { 
		/*background-color: lighten($outer-space, 10%); */
	}
}

.title-bar-title {
	a {
		font-size: 1rem;
		color: $primary-color-text;
	}
}

// Tablet and desktop menu


.top-bar {
	.top-bar-logo{
		padding: 	1rem 0;
		.menu {
			a {
			height: auto!important;
			max-width: 670px;
			}
		}
	}
	.top-bar-menu{
		text-align: center;
		.social{
			display: inline-block;
			list-style: none;
			vertical-align: bottom;
			padding-bottom: 2.1rem;
				margin: 	0 1.8rem 0 0;
			li{
				display: inline-block;
				    vertical-align: bottom;
				a{	
				width: 	2.5rem;
				height: 2.5rem;
				display: block;
				
					&.facebook{
						background:url(../images/icons/facebook.png);
						background-size: 	cover;
						
					}
					&.instagram{
						background:url(../images/icons/instagram.png);
						background-size: 	cover;
					}
					&.youtube{
						background:url(../images/icons/youtube.png);
						background-size: 	cover;
					}
				}
			}
		}
		#menu-main-menu{
			display: inline-block;
			vertical-align: bottom;
		}
		.button-nav{
			display: inline-block;
			list-style: none;
			vertical-align: bottom;
			padding-bottom: 1.62rem;
			margin: 	0 0 0 1.8rem;
			li{
				display: inline-block;
				    vertical-align: bottom;
				a{	
				
				}
			}
		}
		.menu {
			padding-bottom: 2.1rem;
		}
	}
	ul{
		text-align: center;
	}
	.menu .home a {
		font-size: 1rem;
		color: $primary-color-text;
	}

	.menu a {
		
		font-family: 'Poppins', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		color: $primary-color-text;
	    padding: .7rem .3rem;
		font-weight: bold;
		margin: 0 .6rem;
		font-size: 1.15rem;
		line-height: 1;

		&:hover:not(.button) {
			background-color: $primary-color-dark;
		}
	}

	.menu .current-menu-item > a { 
		/*background-color: $primary-color-light; */
		background-image: linear-gradient(to bottom, transparent 50%, $primary-color 50%);
/*		background-origin: 0;
		background-size: 201% 60%;
		background-repeat: repeat-x;
		background-position: 0 90%;
		transition: background-position 0.5s;
*/
/*		&:hover {
			background-image: linear-gradient(to right, transparent 50%, transparentize($primary-color, 0.7) 50%);
			background-position: -100% 90%;
		}*/
	}
	.menu li{
		display: inline-block;
	}
	
	.menu li.menu-item {
		/*border-left: 1px solid $primary-color-border;
		border-right: 1px solid $primary-color-border;*/
		&:not(:last-child) {
			border-right: none;
		}
	}

	.menu.submenu li.menu-item {
		// border-bottom: none;
		/*border-right: 1px solid $primary-color-border;*/
		&:not(:last-child) {
			border-bottom: none;
		}
	}

  .dropdown.menu .submenu { border: 0; }
  .dropdown.menu .has-submenu.is-down-arrow a { padding-right: 1rem; }
  .dropdown.menu .has-submenu.is-down-arrow > a::after { border: 0; }
  .dropdown.menu:first-child > li.is-dropdown-submenu-parent > a::after { display: none; }
}

// Basic styles for post navigation. Nicolas Gallagher's "Micro clearfix"
// https://css-tricks.com/snippets/css/clear-fix/
.post-navigation:before,
.post-navigation:after {
	content: "";
	display: table;
}

.post-navigation:after {
	clear:both;
}

.nav-previous { float:left; }
.nav-next { float:right; }
