
// Default posts
.type-post {}


// type events
.type-events {

	display: block;
	height: 550px;
	position: relative;

	.content {
		display: block;
		padding: 3em 2rem;
		position: absolute;
		right: 1rem; bottom: 1rem; left: 1rem;
		// width: 100%;
		z-index: 1;
		@include transparent-box;

		header,
		footer,
		.entry-content {
			display: block;
			margin: 1rem 0;
			width: 100%;
			@include clearfix;

			> div span {
				font-size: 1.6rem;
				font-weight: bold;

				&.readmore {
					color: $tertiary-color;
					font-size: 0.9rem;
					line-height: 3rem;
					&:after {
						background-color: $tertiary-color;
						content: "";
						display: inline-block;
						height: 3px;
						margin-left: 1em;
						top: -4px;
						position: relative;
						width: 45px;
					}
				}

				&.date {
					text-transform: uppercase;
				}
			}
		}

		.category,
		.readmore {
			display: inline-block;
			float: left;
		}

		.date,
		.price {
			display: inline-block;
			float: right;
		}
	}

	.bgimg {
		background-color: $black;
		position: absolute;
		top: 1rem; right: 1rem; bottom: 1rem; left: 1rem;
		z-index: 0;
		@include bg-cover;
	}
}

// CPT- ctas
.type-ctas {
	header {}

	.entry-content {
		+ footer {
			margin-top: rem-calc(10)
		}
	}

	footer {
		.links {
			margin-bottom: 0;

			.button {
				margin-bottom: 0;
			}
		}
	}
}
