#page {
	@include grid-row();
	margin-top: 3rem;

	.main-content {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(8);
		}
	}

	.post-item {
		margin-bottom: 3rem;

		.entry-image {
			margin-bottom: 1rem;
		}

		&:not(:last-child){
			border-bottom: $post-item-border-bottom-width solid $post-item-border-bottom-color;
		}
	}
}
