#single-post {
	@include grid-row();
	margin-top: 3rem;

	.main-content {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(8);
		}
	}

	.post-social {
		margin-top: 2rem;
	}

	.post-navigation {
		margin-top: 2rem;

		.nav-links {
			a > { @extend .button; }
		}
	}

	.post {
		margin-bottom: 3rem;

		.entry-image {
			margin-bottom: 1rem;
		}
	}
}
