.btn {
	margin: 0;
    color: $black;
	font-size: 1.5rem;
    display: inline-block;
    font-weight: 	bold;
    text-transform: uppercase;
    background: $secondary-color;
    font-family: 'Poppins', sans-serif;
        padding: 1.1rem 1.8rem;
    border-radius: 1rem;
    line-height: 1;
    &.small{
    	font-size: 1rem;
    }
    &.alt{
    	background: $primary-color;
    }
    &.alt2{
    	background: $tertiary-color;
    }
    &.wide{
    	padding: 1.1rem 4.5rem;
    }
    &.feature{
    	padding: 0;
    	font-size: 	1.1rem;
    	color: $tertiary-color;
    	background: transparent;
    	position: relative;
    	&:after{
    		content: "";
		    display: block;
		    position: absolute;
		    left: 100%;
		    width: 50px;
		    margin-left: 15px;
		    margin-top: 	-2px;
		    top:50%;
    		border-bottom: 4px solid $tertiary-color;
    	}
    }
    &:hover{
    	color:$black;
   }
}
