/*
 * Forms
 */


input,
input[type="text"],
input[type="number"],
input[type="email"],
input[type="name"],
select,
textarea {

	background-color: transparent;
	border: 2px solid $dark-grey !important;
	
	box-shadow: none !important;
	color: $black;
	height: auto !important;
	padding: .7rem;

	&::-webkit-input-placeholder { color: $black !important; }
	&::-moz-placeholder { color: $black !important; }
	&:-ms-input-placeholder { color: $black !important; }
	&:-moz-placeholder { color: $black !important; }

	&:focus {
		/*background-color: transparentize($black, 0.5);*/
		/*color: $white;*/
	}
}

label {
	color: $black;
	font-size:1rem;
	font-weight: 700;
	text-transform: uppercase;
}

form {
	ul {
		margin: 0;
		li { list-style: none; }
	}
}

div.input-group {
	input {
		height: 2.5rem !important;
	}
}


//gravity forms
.gform_wrapper {

	form {

		.gform_heading {

			h3 { text-transform: uppercase; }
		}

		.gform_body {
			padding-top: 3rem;

			ul {
				width: 100%;

				li {

					margin-top: 1em;
					

					label {
						
					}
				}
			}
		}

		.gform_footer {
			padding-top: 3rem;
			position: relative;

			input[type="submit"] {
				padding: .7rem;
				font-size: 1rem;
				color: $white;
				 text-transform: uppercase;
				background: $tertiary-color;
				border: 1px solid $black !important;
				&:hover { border: 1px solid $black !important; }
			}
		}
	}


	&.horizontal_wrapper {

		width: 100%;

		.gform_body,
		.gform_footer {
			display: inline-block;
			float: left;
		}

		.gform_body {

			width: 85%;
			width: calc(100% - 150px);

			ul {
				display: table;

				li {
					display: table-cell;
					vertical-align: bottom;

					&.gform_validation_container { display: none; }
				}
			}
		}

		.gform_footer {
			width: 15%;
			width: 150px;

			input {
				position: relative;
				margin-bottom: 0;
				bottom: 0;
				width: 100%;
			}
		}
	}
}
.no-label{
	label{
		display:none;
	}
}
.ui-datepicker{
	background: $tertiary-color;
}
.ginput_container_address{
	span{
		display: block;
		margin-bottom: 1rem;
	}
	input,select{
		margin-bottom: 0px;
	}
	label{
		font-size: .7rem;
	}
}
.ginput_container_radio,.gfield_checkbox{
	label{
		font-size: .9rem;
	}
}
@media only screen and (min-width: 641px) {
	.gform_wrapper .ginput_complex .ginput_left, .gform_wrapper .ginput_complex .ginput_right {
	    width: 50%;
	    display: -moz-inline-stack;
	    display: inline-block;
	    vertical-align: top;
	    margin: 0 -4px 0 0;
	    margin-bottom: 1rem;
	}
	.gform_wrapper .ginput_complex .ginput_left {
	    padding-right: 8px;
	    }
	.gform_wrapper .ginput_complex.ginput_container_address .ginput_left {
	    margin-right: 8px;
	}
	.gform_wrapper .ginput_complex.ginput_container_address .ginput_right{
		    margin-right: -8px;
    	padding-right: 8px;
	}
}