// Apply outline styles only when input method is keyboard
// remove :focus style via What Input using progressive enhancement
// so :focus isn't left broken if JavaScript fails

.gallery {

	margin: 0;
	position: relative;

	.owl-stage-outer,
	.owl-stage {
		clear: both;
		display: block;
		overflow: hidden;
	}

	.owl-item {

		float: left;

		img {
			width: 100%;
		}
	}

	.owl-nav {

		display: block;
		position: absolute;
		top: 0; right: 0; bottom: 3em; left: 0;

		.owl-prev,
		.owl-next {
			display: none;
			position: absolute;
			top: 0; bottom: 0;
			z-index: 3;

			a {
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
			}
		}
	}

	.owl-dots {
		clear: both;
		cursor: pointer;
		display: block;
		margin-top: 1em;
		text-align: center;
		width: 100%;

		.owl-dot {
			background-color: lighten($secondary-color, 40%);
			border-radius: 50%;
			display: inline-block;
			height: 10px;
			padding: 0;
			margin: 0.5rem;
			width: 10px;
			&:hover { background-color: $secondary-color; }
			&.active { background-color: $primary-color; }
		}
	}

	@include clearfix;
}
