/*
 * Type
 */
 *{

	font-family: 'Roboto', sans-serif;

 }
h1,h2,h3,h4,h5,h6{
  color: $body-font-color;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;

  a {
    color: $body-font-color;
    &:hover {
      color: $primary-color;
    }
  }
}
 h1, h2 {
 	letter-spacing: -0.05rem;
 	// text-transform: uppercase;
 }

 h1 small {
 	clear: both;
 	display: block;
 	font-size: 27%;
 	line-height: 1.1;
 }

 p, ul, ol, li, span, strong, em {
 	color: $body-font-color;
 	line-height: 1.8;
 }

 p {
	 span.intro {
		 font-size: rem-calc(30px);
		 line-height: 1.56;
	 }

	 span.pullquote {
		 float: left;
		 font-size: 2rem;
		 line-height: 1.4;
		 margin-left: -3rem;
		 max-width: 250px;
		 padding: 2rem 3rem;
		 padding-left: 0;
	 }
 }

 blockquote {
	clear: both;
 	margin-left: -3rem;
 	margin-right: -3rem;
 	margin-top: 2rem;
 	margin-bottom: 2rem;
 	padding: 2rem 0 1rem 0;

 	p {
		color: $primary-color;
 		font-size: rem-calc(42px) !important;
 		font-weight: 800;
 		line-height: 1.3 !important;
 		text-align: center;

 		&:before {
 			content: '"';
 			color: $tertiary-color;
 			display: inline-block;
 			font-family: $body-font-family !important;
 			font-family: 'Georgia', serif;
 			font-size: 90px;
 			padding-right: 0.5rem;
 			line-height: 0;
 			position: relative;
 			top: 1rem;
 		}

 		&:after {
 			content: '"';
 			color: $primary-color;
 			display: inline-block;
 			font-family: $body-font-family !important;
 			font-size: 28px;
 			// padding-left: 1rem;
 			line-height: 0;
 			position: relative;
 			top: -6px;
 		}
 	}
 }
