/*
 * CUSTOM Flexible Modules
 */

/// Default background color of the panel
/// @type Color
$panel-container-background-color: $white !default;

/// Default radius of the panel
/// @type List
$panel-container-radius: $global-radius !default;

/// Default bottom border width of the panel's header
/// @type Number
$panel-header-border-bottom-width: rem-calc(1) !default;

/// Default bottom border color of the panel's header
/// @type Color
$panel-header-border-bottom-color: $light-gray !default;

/// Default font color of the panel's title
/// @type Color
$panel-header-color: $body-font-color;

/// Default font size of the panel's title
/// @type Number
$panel-header-font-size: 1.5rem;

.module-panel {
	background-color: $panel-container-background-color;
	border-radius: $panel-container-radius;
	float: none !important;
	margin: $panel-margin;
	padding: 3rem 1rem;
	width: 100%;
	position: relative;
	header, footer,
	.entry-content, .panel-content {
		max-width: $global-width;
		margin: 0 auto;
	}

	.panel-header {

	    position: absolute;
	    top: -33px;
	    width: 100%;
	    text-align: center;
	    left: 0;
	    max-width: unset;

		.panel-title {
			margin: 0;
			padding: rem-calc(15 0);
			    color: $panel-header-color;
				font-size: $panel-header-font-size;
			    display: inline-block;
			    background: $primary-color;
			    padding: 1rem 4.5rem;
			    border-radius: 1rem;
			    height: 65px;

		}

		.panel-introduction {
			// margin: 0;
			padding: rem-calc(15 0 0 0);
			color: $panel-header-color;
		}

		.panel-title + .panel-introduction {
			padding-top: 0;
		}
	}

	.panel-content {
		padding: 5rem 0;
		@include clearfix;
	}

	// Extra margin
		&.margin-above { margin-top: $extra-margin; }
		&.margin-below { margin-bottom: $extra-margin; }

	// Layout - columns
		&.col-2 {
			section {
				// @include grid-row();
				// margin-top: $module-margin;

				// Default columns
				.extra-content { @include grid-column(6); }
				.extra-media { @include grid-column(6); }
			}

			&.r-10-90 { .extra-content { @include grid-column(2); } .extra-media { @include grid-column(10); } }
			&.r-20-80 { .extra-content { @include grid-column(3); } .extra-media { @include grid-column(9); } }
			&.r-30-70 { .extra-content { @include grid-column(4); } .extra-media { @include grid-column(8); } }
			&.r-40-60 { .extra-content { @include grid-column(5); } .extra-media { @include grid-column(7); } }
			&.r-50-50 { .extra-content { @include grid-column(6); } .extra-media { @include grid-column(6); } }
			&.r-60-40 { .extra-content { @include grid-column(7); } .extra-media { @include grid-column(5); } }
			&.r-70-30 { .extra-content { @include grid-column(8); } .extra-media { @include grid-column(4); } }
			&.r-80-20 { .extra-content { @include grid-column(9); } .extra-media { @include grid-column(3); } }
			&.r-90-10 { .extra-content { @include grid-column(10); } .extra-media { @include grid-column(2); } }

			&.float-left {
				.extra-content { float: left; }
				.extra-media { float: right; }
			}
			&.float-right {
				.extra-content { float: right; }
				.extra-media { float: left; }
			}

			@include breakpoint(small only) {
				.extra-content { width: 100% !important; }
				.extra-media { width: 100% !important; }

				.extra-content + .extra-media {
					padding-top: rem-calc(15);
				}
			}

			@include breakpoint(medium only){
				.extra-content { width: 50% !important; }
				.extra-media { width: 50% !important; }
			}
		}

	// Design - background image
		&.bgimg {
			@include bg-cover;

			.panel-header,
			.panel-content {
				color: white;
			}
		}

}
