/// Adds styles for flex-content page - content columns

.module-panel {
	&[data-module="content_columns"] {

		padding: 0 3rem;

		.content-column {

			display: block;
			float: left;
			margin-bottom: 2em;
			padding: .6em;
			position: relative;
			
			.card-wrapper{
				padding: 0;
				height: 80vh;
				width: 100%;
				position: relative;
				&:hover{
					cursor:pointer;
					.card-content{
						.card-reveal{
							max-height:100vh;
							@include transition-all-medium;
						}
					}
				}	
				
				.card-content{
					width: 100%;
					padding: 2.5rem;
					position: absolute;
					bottom: 0;
					left: 0;
					.card-reveal{

						max-height: 0;
						overflow:hidden;
						@include transition-all-slow;
						.card-scroll{
							height: auto;
							max-height: 300px;
							margin-bottom: 3rem;
						}
						.btn{
							margin-bottom: 3rem;
							margin-top: -1.5rem;
						}
					}
					h2{
						text-transform: none;
						margin-bottom: 2rem;
					}
					p{
						font-size: 1.2rem;
					}
					@include transparent-box;
				}
			}
			.image {
				margin-bottom: 1em;
				&.circle img {
					border-radius: 50%;
					overflow: hidden;
				}
			}


			&.col-1 { width: 100%; }
			&.col-2 { width: 50%; }
			&.col-3 { width: 33.3333333333%; }
			&.col-4 { width: 25%; }

			&:last-of-type:after { display: none !important; }
		}

		/*&:after {
			background-color: $secondary-color;
			content: "";
			display: block;
			height: 1px;
			margin: 2rem auto;
			max-width: 1024px;
			width: 100%;
		}*/
	}
}
