.extra-media {

	&.gallery,
	&.slider {
		background-color: inherit;
		height: inherit;
		margin-top: 0;
		margin-bottom: 0;
	}

	.orbit-container {
		max-height: 500px !important;
	}

	.responsive-embed {
		margin-bottom: 0;

		@include breakpoint(small only){
			// Remove video padding ratio
			.responsive-embed { padding-bottom: 75%; }
		}
	}
}
