
.module-panel[data-module="post_listing"] {

	.section {
		@include grid-row();

		.post-item {
			@include grid-col(6);
			float: left !important;
		}

		&[data-cols="one"] .post-item { @include grid-col(12); }
		&[data-cols="two"] .post-item { @include grid-col(6); }
		&[data-cols="three"] .post-item { @include grid-col(4); }
	}
}

.mixitup-filters {

	margin: 0 auto 3em;
	max-width: 75em;
	padding: 1em;

	form {

		// &[fieldsets="1"] { fieldset { width: } }
		// &[fieldsets="2"] { fieldset { } }
		// &[fieldsets="3"] { fieldset { } }
		// &[fieldsets="4"] { fieldset { } }

		fieldset {
			display: inline-block;
			margin-right: 1em;
			max-width: 350px;
			width: auto;

			select {
				padding-right: 2rem;
			}

			&.search-filter {
				float: right;
			}
		}
	}
}
