// Module layout
[data-module="image_gallery"] {

	.grid-gallery {

		padding: 0;

		.orbit-slide {
			
			display: block;
			min-height: 500px;
			outline: none;
			position: relative;

			.bgimg {
				position: absolute;
				top: 0; right: 0; bottom: 0; left: 0;
				@include bg-cover;
			}

			.orbit-caption { display: none !important; }

		}

		.grid .orbit-slide {

			.bgimg {
				width: 50%;
			}
			.bgimg:nth-of-type(2n-1) {
				right: 50%;
			}
			.bgimg:nth-of-type(2n) {
				height: 50%;
				left: 50%;
			}
			.bgimg:nth-of-type(3n) {
				height: 50%;
				left: 50%;
				top: 50%;
				width: 25%;
			}
			.bgimg:nth-of-type(4n) {
				height: 50%;
				left: 75%;
				top: 50%;
				width: 25%;
			}

			&.only-3 {
				.bgimg:nth-of-type(3n) {
					width: 100%;
				}
			}

			&.only-2 {
				.bgimg:nth-of-type(2n) {
					height: 100%;
				}
			}

			&.only-1 {
				.bgimg:nth-of-type(2n-1) {
					width: 100%;
				}
			}
		}
	}
}
