.orbit {

 	margin-bottom: 0;

  .orbit-buttons {

		clear: both;
		display: block;
		padding: 1em;
		position: relative;
    text-align: center;
		@include clearfix;

    .orbit-previous,
    .orbit-next {
      cursor: pointer;
      display: inline-block !important;
      position: relative !important;
      left: inherit !important; right: inherit !important;
      transform: none !important;
      width: 48px;

      &:hover,
      &:focus {
        background-color: transparent;
        span { color: $primary-color; }
      }
    }
  }

 	.orbit-container {
		// height: 100vh;
		// height: calc(100vh - #{$header-height});
 		margin-bottom: 0;
 	}

	.orbit-slide {
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: scroll;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		position: relative;
		z-index: 0;
	}

	.orbit-image {
		display: none;
		height: 100%;
		position: relative;
		width: 100%;
		z-index: 1;
	}

	.orbit-overlay {
		height: 100%;
		position: relative;
		z-index: 2;

		&.dark { background-color: rgba($black,0.3); }
		&.light { background-color: rgba($white,0.3); }
	}

	.orbit-caption {
		background: none;
		bottom: 50%;
		color: $white;
		font-weight: bold;
		margin: 0 auto;
		padding: rem-calc(10 30);
		text-align: center;
		transform: translateY(50%);
		z-index: 3;

		h1 {
			line-height: 1;
			margin-left: auto;
			margin-right: auto;
			max-width: $content-max-width;
		}

		h1 + .button {
			margin-top: 1em;
		}

		.button {
			margin-bottom: 0;
		}

		&.dark { color: $white; }
		&.light { color: $black; }

		@include breakpoint(small only){
			padding: rem-calc(10 70);
		}

		@include breakpoint(medium only){
			padding: rem-calc(10 70);
		}
	}
}
