/*
 * Reveal
 */


.reveal {

	background-color: $secondary-color;
	border: none;
	outline: none !important;
	padding: 3rem;
	position: relative;

	h2 {
		font-size: rem-calc(28px);
	}

	.close-button {
		color: $white;
		position: absolute;
		top: 1em; right: 1em;

		&:hover {
			color: $primary-color;
		}
	}

	// main menu - reveal
	&.main-menu-reveal {

		height: 80vh;
		max-width: 1500px !important;
		width: 90% !important;

		.main-menu {
			margin-top: 3rem;
		}
	}
}
